*{
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: 'Rubik', sans-serif;
    color: #72567A;
    align-items: center;

    
    /* background-color: #F9F9F9; */
}
body{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/.jfif);
    background-repeat:no-repeat; 
    background-position: 55%;
    background-size:90vh; 
    padding-top: 30vh;

}
#paragrafo{

    font-weight: 100;
    font-size: 60px;
    text-align: center;
    width: 77vw;
    height: 33vh;
    align-items: center;
    /* padding-top: 04vh; */
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.7);
}
#item{
    font-weight: 00;
    font-size:medium;
    text-align: center;
    text-align:left;
    padding-left: 01vh;
    /* width: 75vw;
    height: 44vh; */
    align-items: center;
    padding-top: 04vh;
    color: black;

}
#formulario input{

    background-color: #72567A;
    color: #F9F9F9;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    font-weight: 300;
    height: 6vh;
    width: 29vw;
    margin: 05vh;
}


