*{
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: 'Rubik', sans-serif;
    color: #72567A;
    /* background-color: #F9F9F9; */
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/background1.jfif);
    background-repeat:repeat;
    background-position: 45%;
    background-size: 190%;
}
.home p{
    font-size: x-large;
    padding-top: 10vh;
    font-weight:300;
    padding-bottom: 05vh;
    color: rgb(255, 255, 255);
    
}
#paragrafo{

    font-weight: 100;
    font-size: 190%;
    text-align: center;
    width: 75vw;
    height: 30vh;
    align-items: center;
    padding-top: 04vh;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.5);
}
#item{
    font-weight: 500;
    font-size:large;
    text-align: center;
    width: 75vw;
    height: 44vh;
    align-items: center;
    padding-top: 04vh;
    color: black;

}
#formulario input{

    background-color: #72567A;
    color: #F9F9F9;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    font-weight: 300;
    height: 7vh;
    width: 19vw;
    margin: 05vh;
}


