*{
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: 'Rubik', sans-serif;
    background-color: #F9F9F9;

}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login p{
    font-size: xx-large;
    padding-top: 05vh;
    font-weight:300;
    color: #72567A;
}.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 7vh;
}
.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10%;

}
.form label {
    margin-bottom:6%;
    font-size: larger;
    /* padding-bottom: 10vh; */
}
.form input {
    background-color: #dcd3d3;
    border: 1px solid #EDEDED;
    height: 30px;
    border-radius: 10px;
    font-weight: 300;
    height: 06vh;
}
.form button {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 50px;
}
.form ::placeholder{

padding-left: 6%;
}
#formulario input{
    background-color: #72567A;
    color: #F9F9F9;
}